body{
    background-color: #ebeff5;
}
#total-orders{
    background-color: #4cb4c7;
}
#orders-delivered{
    background-color:#7abecc;
}
#orders-pending{
    background-color: #7CD1C0;
}
.navbar-logo {
    max-width: 10%;
    height:auto;
}

/* Custom CSS for the start_date and end_date filters */
.my-custom-date-filter {
    /* Add your custom styles here */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
}

/* Custom CSS for the note filter */
.my-custom-char-filter {
    /* Add your custom styles here */
    border: 1px solid #8b1111;
    padding: 5px;
    border-radius: 3px;
    width: 250px;
}
